@using Microsoft.AspNetCore.Http
@using System.Net
@using System.Net.Http
@using Gozen.Models.DTO.Statics
@using Microsoft.AspNetCore.Mvc.ModelBinding
@{
    ViewData["Title"] = "Online";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <h1 class="jumbotron-heading">Passenger Application</h1>
        <p class="lead text-muted">Please select the scenario you want to access while using the system .</p>
        <p>
            @Html.RouteLink("Offline", "Index", new { scenario = Scenario.Offline }, new { @class = "btn btn-secondary my-2" })
            @Html.RouteLink("Online", "Index", new { scenario = Scenario.Online }, new { @class = "btn btn-primary my-2" })
        </p>
    </div>
</div>