@{
    ViewData["Title"] = "Online";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <h1 class="jumbotron-heading">Passenger Application</h1>
        <p class="lead text-muted">Please select the scenario you want to access while using the system .</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Online</a>
            <a href="#" class="btn btn-secondary my-2">Offline</a>
        </p>
    </div>
</div>
