@{
    ViewData["Title"] = "Online";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <h1 class="jumbotron-heading">PassengerDto Application</h1>
        <p class="lead text-muted">Please select the scenario you want to access while using the system .</p>
        <p>

            @Html.ActionLink("Online", "Index", "Passenger", 1, new {@class = "btn btn-primary my-2"})
            @Html.ActionLink("Offline", "Index", "Passenger", 2, new {@class = "btn btn-secondary my-2"})
        </p>
    </div>
</div>